* text=auto
*.py text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.stl binary
*.pt binary
*.png binary
*.mp4 binary
assets/rs06/** -text whitespace=trailing-space,space-before-tab,cr-at-eol
history/rs02/assets/** -text
